<h1>Editing Change</h1>

<%= render 'form', change: @change %>
<div class='twelve columns'>
  <a href='http://commonmark.org/help/' target='_blank'>How do I use Markdown?</a>
</div>

<%= link_to 'Show', @change %> |
<%= link_to 'Back', changes_path %>
