<h1>Changes</h1>

<div class='row'>
  <div class='two columns' style='text-align: center;'>
    <br />
    <br />
    <%= link_to 'New Change', new_change_path, class: 'button', style: 'margin-top: 6px' %>
  </div>

  <div class='ten columns'>
    <table class='u-full-width'>
      <thead>
        <tr>
          <th>Summary</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @changes.each do |change| %>
          <tr>
            <td><%= link_to change.summary, change %></td>
            <td><%= link_to 'Edit', edit_change_path(change) %></td>
            <td><%= button_to 'Delete', change_path(change), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
