<h1>Changes</h1>
<hr id='page-break' />

<div class='row'>
  <div class='twelve columns' style='text-align: center;'>
    <%= link_to 'Add a Change', new_change_path, class: 'button', style: 'margin-top: 6px' %>
  </div>

  <div class='twelve columns'>
    <table class='u-full-width changelog'>
      <thead>
        <tr>
          <th>Summary</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @changes.each do |change| %>
          <tr>
            <td><%= link_to change.summary, change %></td>
            <td><%= link_to 'Edit', edit_change_path(change), class: 'button button-primary' %></td>
            <td><%= button_to 'Delete', change_path(change), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
