<p>
  <strong>Summary:</strong>
  <%= @change.summary %>
</p>

<p>
  <strong>Text:</strong>
  <%= @change.text %>
</p>

<%= link_to 'Edit', edit_change_path(@change) %> |
<%= link_to 'Back', changes_path %>
