/*
*= require normalize
*= require skeleton
*/

#hunky_dory textarea {
  height: initial;
}

#hunky_dory .button_to {
  margin-bottom: 0;
}

#hunky_dory .changelog td {
  text-align: right;
}

#hunky_dory .changelog td:first-child {
  width: 70%;
  text-align: left;
}
